.youtube-list{
  display: flex;
  grid-template-columns: repeat(4,1tr);
  grid-gap: 25px;
  padding: 25px;
}

.youtube-avatar{
  height: 50px;
  width: 50px;
  border-radius: 100rem;
  object-fit: cover;
  flex-shrink: 0;
}

.youtube-footer{
  display: flex;
  align-items: flex-start;
  gap: 0 20px;
}

.youtube-image {
  width: 10rem;
}

.youtube-info{
  display: block;
}
  
.youtube-info {
    display: block;
    margin-left: -19px;
}

h6{
  margin: 8px;
}

.youtube-author{
  color: silver;
}
